<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Top" value="0"/>
    <add key="Left" value="0"/>
    <add key="cityname" value="0"/>
    <add key="temNow" value="0"/>
    <add key="stateDetailed" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
